# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specibles for your rufically when used with LiteIDE
*.out

# Idea
.idea/workspace.xml

# Build
go.sum
build/

# Local
.env
